body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #f1f3ff;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 25px 136px;
}

.nav-right {
    align-self: center;
}

.nav-right a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    margin: 0 16px;
}

.nav-right .btn-regist {
    color: white;
    background-color: #5cb85f;
    padding: 8px 12px;
    font-weight: 700;
}

.side-nav {
    display: none;
}

.side-nav p {
    display: none;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 136px;
    padding-top: 25px;
}

.banner-left {
    width: 40%;
    margin-top: 50px;
}

.banner-left h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.banner-left p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 24px;
    width: 90%;
}

.banner-left a {
    color: white;
    background-color: #5cb85f;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 12px;
    font-weight: 700;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto;
    width: 100%;
    padding: 0 136px;
}

.main-left {
    width: 50%;
}

.main-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.main-right h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;
}

.main-right p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.main-right ul {
    padding: 0;
}

.main-right ul div {
    display: flex;
    margin-bottom: 15px;
}

.main-right ul div:last-child {
    margin-bottom: 0;
}

.main-right ul div img {
    height: 20px;
    margin-right: 15px;
    margin-left: 0;
}

.main-right ul li {
    font-size: 16px;
    font-weight: 300;
    line-height: 0;
    align-self: center;
    list-style: none;
    background-color: #0d28a6;
}

.why-us {
    background-color: white;
    padding: 0 136px;
}

.why-info h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.why-info p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.reasons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.reason {
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    width: 23%;
    padding: 20px;
    margin: auto 0;
}

.reason h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
}

.reason p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.testimonial {
    background-color: white;
    text-align: center;
    margin: 100px 0;
}

.testimonial h2 {
    font-weight: bold;
}

.testimonial .reviews {
    display: flex;
    margin: 50px 0;

    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.testimonial .reviews .review {
    background-color: #e2eaf2;
    margin: 0 15px;
    padding: 50px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.testimonial .reviews .review .profile {
    align-self: center;
}

.testimonial .reviews .review .profile img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.testimonial .reviews .review .review-info {
    text-align: left;
    margin-left: 20px;
}

.testimonial .reviews .review .review-info p {
    font-size: 14px;
}

.btn-review img {
    margin: 0 5px;
    cursor: pointer;
}

.getting-started {
    background-color: #0d28a6;
    text-align: center;
    color: white;
    margin: 0 136px;
    padding: 50px;
    border-radius: 10px;
}

.started-info h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.started-info p {
    width: 60%;
    margin: 30px auto;
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
}

.btn-start {
    margin-top: 60px;
}

.btn-start a {
    color: white;
    background-color: #5cb85f;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 12px;
    font-weight: 700;
}

.faq {
    display: flex;
    justify-content: space-between;
    margin: 100px 136px;
}

.faq-left {
    width: 40%;
}

.faq-right {
    width: 50%;
}

.faq-right .accordion-item {
    margin-bottom: 15px;
}

.faq-left h2 {
    font-size: 33px;
    font-weight: 700;
    line-height: 80px;
}

.faq-left p {
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 136px;
    margin-bottom: 100px;
}

.footer-contact {
    width: 30%;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
}

.footer-menu a {
    color: black;
    text-decoration: none;
}

.footer-connect {
    width: 20%;
}

.footer-copyright {
    width: 20%;
}


@media (max-width: 768px) {
    .navbar {
        padding-right: 16px;
        padding-left: 16px;
    }

    .nav-right a {
        display: none;
    }
    
    .side-nav {
        display: unset;
        cursor: pointer;
    }

    .side-nav img {
        position: relative;
        z-index: 5;
    }

    .side-nav a {
        display: none;
    }

    .side-nav:hover p {
        display: unset;
        font-weight: bold;
    }

    .side-nav:hover {
        display: unset;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 25px 20% 25px 20px;
        background-color: #fff;

        display: flex;
        flex-direction: column;
    }

    .side-nav:hover .dark-background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 6;
        background-color: rgba(94, 94, 94, 0.699);
    }

    .side-nav:hover div {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .side-nav:hover div a {
        display: unset;
        padding: 0;
        margin-bottom: 15px;
        text-decoration: none;
        color: black;
    }

    .side-nav:hover img {
        position: fixed;
        padding-right: 16px;
    }

    .banner {
        flex-direction: column;
        padding-left: 16px;
    }
    
    .banner-left {
        width: 100%;
        margin-top: 0;
    }
    
    .banner-left p {
        margin-bottom: 24px;
        width: 90%;
    }
    
    .banner-left a {
        font-size: 14px;
        padding: 8px 12px;
        font-weight: 700;
    }

    .banner-right {
        width: 100%;
    }

    .banner-right img {
        width: 80%;
        float: right;
        padding-right: 0;
        margin-top: 20px;
    }

    .main-section {
        flex-direction: column;
        margin: 100px auto;
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
    }
    
    .main-left {
        width: 100%;
    }

    .main-left img {
        width: 100%;
    }

    .main-right h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .main-right p {
        font-size: 14px;
    }

    .main-right ul {
        margin-top: 15px;
    }
    
    .main-right {
        width: 100%;
        margin-top: 50px;
    }

    .main-right ul div li {
        font-size: 14px;
    }

    .why-us {
        padding: 0 16px;
    }
    
    .why-info h2 {
        text-align: center;
    }
    
    .why-info p {
        text-align: center;
    }
    
    .reasons {
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }
    
    .reason {
        width: 100%;
        padding: 20px;
        margin: 10px 0;
    }

    .testimonial {
        padding: 16px;
    }

    .testimonial .reviews .review {
        width: 100%;
        flex-direction: column;
    }

    .testimonial .reviews .review .review-info {
        text-align: center;
        margin: 0;
    }

    .testimonial .reviews .review .review-info p {
        font-size: 10px;
    }

    .getting-started {
        margin: 0 16px;
    }
    
    .started-info p {
        width: 100%;
    }

    .faq {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 100px 16px;
    }
    
    .faq-left {
        width: 100%;
    }
    
    .faq-right {
        width: 100%;
    }
    
    .faq-right .accordion-item {
        margin-bottom: 15px;
    }
    
    .faq-left h2 {
        font-size: 23px;
        line-height: 50px;
        text-align: center;
    }
    
    .faq-left p {
        text-align: center;
        margin-bottom: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 16px;
        margin-bottom: 100px;
    }
    
    .footer-contact {
        width: 100%;
    }
    
    .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    
    .footer-menu a {
        color: black;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .footer-connect {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-connect .connect-icons {
        display: flex;

    }

    .footer-connect .connect-icons img {
        margin-right: 15px;
    }
    
    .footer-copyright {
        width: 100%;
    }
}